<p id="notice"><%= notice %></p>

<p>
  <b>Blueberry:</b>
  <%= @orange.blueberry %>
</p>

<p>
  <b>Cherry:</b>
  <%= @orange.cherry %>
</p>

<p>
  <b>Latitude:</b>
  <%= @orange.latitude %>
</p>

<p>
  <b>Longitude:</b>
  <%= @orange.longitude %>
</p>


<%= link_to 'Edit', edit_orange_path(@orange) %> |
<%= link_to 'Back', oranges_path %>
